body {
    background-color: #34384d;
}
.container {
    background-color: white;
    width: 750px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 1px;

    display: flex;
}

.main {
    width: 55%;
    border-radius: 10px;
    padding: 20px;
    padding-top: 65px;
}

.imagen {
    width: 45%;
    border-radius: 10px;
    padding: 20px;
}

.imgGato {
    width: 100%;
    border-radius: 10px;
}

h1 {
    color: #34384d;
    font-size: 40px;
}

.txtJoin {
    font-size: 18px;
}

.checklist {
    list-style-type: none;
    padding-left: 0px;
}

.checklist li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

.checklist li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Eo_circle_light-green_checkmark.svg/2048px-Eo_circle_light-green_checkmark.svg.png");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 4px;
}

.custom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form-label {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #242741;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
}
